$font: 'Arimo', sans-serif;
$hfont: 'Source Sans Pro', sans-serif;

$highlited-color:#23abeb;

$border: 1px solid rgb(226, 226, 226);

header{
    font-family: $font;
    height: 35px;
    background: black;
    padding: 5px;
    display: flex;
    align-items: center;
    #menu{
        display: flex;
        margin-left: auto;
        a{
            display: block;
            font-size: 12px;
            color: rgb(99, 99, 99);
            text-decoration: none;  
        }
        a:not(:last-child){
            margin-right: 15px;
        }
        a:hover{
            color: rgb(175, 175, 175);
        }
    }
}
#sub-header{
    border-bottom: $border;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0px 10px;
    font-family: $font;
    span{
        font-family: $font;
        font-size: 10pt;
    }
    img{
        margin-right: 10px;
    }
    .right-align{
        margin-left: auto;
    }
    #user-info{
        height: 100%;
        float: right;
        display: flex;
        align-items: center;
        #user-icon{
            text-transform: uppercase;
            border: 1px solid rgb(216, 216, 216);
            border-radius: 100%;
            padding: 10px;
            background: rgb(243, 243, 243);
        }
        span.user-name{
            margin-right: 15px;
            color: $highlited-color;
        }
    }
    #head-name{
        margin-right: auto;
    }
}

button{
    background: $highlited-color;
    border: none;
    border-radius: 3px;
    color:white;
    align-items: center;
    display: flex;
    cursor: pointer;
}
button:hover{
    background: #3bb6f0;
}
button:focus{
    outline:none;
    border:none;
}
div::-webkit-scrollbar,{
    background: white;
    width: 5px;
}
div::-webkit-scrollbar-thumb{
    background:rgb(255, 255, 255);
    transition: .3s;
}
div:hover::-webkit-scrollbar-thumb{
    background:rgb(236, 236, 236);
}
.content-board{
    background: #f0f4f5;
    padding: 5%;
    flex: 1;
}
#newWindow{
    font-family: 'Arimo', sans-serif;
    position: absolute;
    top:0;
    left: 0;
    z-index: 20;
    background: rgba(0, 0, 0, 0.473);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}
.modal{
    padding: 50px;
    margin: 0 auto;
    width: 600px;
    background: white;
    input, textarea{
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid grey;
    }
    #desc{
        height: 100px
    }
    button{
        padding: 10px;
        display: inline-block;
    }
}
.checkbox{
    display: none;
}
.group-name label{
    position: absolute;
    right: 30px;
}
.checkbox+div{
    position: absolute;
    width: 45%;
    right: 5%;
    background: white;
    padding: 12px;
    font-size: 14px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.295);
    border-radius: 5px;
    transition: 0.2s;
    margin-top: 20px;
    opacity: 0;
    z-index: 2;
}
.checkbox:checked+div{
    margin-top: 25px;
    opacity: 1;
}
.checkbox+div:after{
    content: '';
    width: 10px; height: 10px;
    bottom:93%;
    left: 77%;
    transform: rotate(45deg);
    position: absolute;
    background: white;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.295);
}
.checkbox+div:before{
    content: '';
    width: 20px; height: 20px;
    bottom:75%;
    left: 73%;
    position: absolute;
    background: white;
    z-index: 1;
}
.checkbox+div.menu>div{
    position: relative;
    margin-bottom: 10px;
    z-index: 3;
}